@import url("./base.css");
@import url("./components.css");
@import url("./global.css");
@import url("./layout.css");
@import url("./responsive.css");


.nav .card {
    background-color: var(--secondary-color);
}











/* lista de alunos  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.layout {
    display: flex;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}


.menu-lateral {
    width: 300px;
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
}

.menu-container img {
    width: 150px;
    margin-bottom: 40px;
}

.menu-lista {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    font-family: var(--font-secondary);
    font-size: var(--font-size-paragraph);
    font-weight: var(--weight-light);
    cursor: pointer;
}


.botao-sair {
    margin-top: auto;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--text-color-secondary);
    color: var(--secondary-color);
    font-weight: var(--weight-bold);
    cursor: pointer;
}


.conteudo {
    flex: 1;
    padding: 40px;
}

.cabecalho {
    margin-bottom: 60px;
}

.titulo-pagina {
    font-size: var(--font-size-heading1);
    font-weight: var(--weight-semibold);
    color: var(--text-color-primary);
    margin-bottom: 20px;
}


.filtros {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.grupo-filtro {
    display: flex;
    flex-direction: column;
}

.label-filtro {
    font-family: var(--font-secondary);
    color: var(--text-color-tertiary);
    margin-bottom: 5px;
}

.input {
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font-family: var(--font-secondary);
}


.acoes {
    margin-top: 10px ;
    justify-content: flex-end;
    display: flex;
    gap: 15px;
}

.remover,
.adicionar {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: var(--weight-semibold);
    cursor: pointer;
}

.remover {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
}

.adicionar {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
}

.secao-tabela {
    margin-top: 10px;
}

.tabela-alunos {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    font-family: var(--font-secondary);
}

.tabela-alunos th {
    background-color: #eaeaea;
    color: var(--text-color-primary);
    padding: 12px;
    font-weight: var(--weight-light);
}


.tabela-alunos td {
    padding: 10px;
    text-align: center;
    color: var(--text-color-primary);
    background-color: var(--bg-color);
/* inventário  */
.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;

}

.esquerda {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

.direita {
    background-color: var(--bg-color);
}

.menu-icon{
    color: white;
    font-size: 40px;
}

.header{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.topo {
    display: flex;
    justify-content: space-between; /* joga um pra cada lado */
    align-items: center;
}

button{
    display: flex;
    background-color: #680B0B;
    color: #ffff;
    border-radius: 5px ;
    width: 170px;
    height: 30px;
    gap: 10px;

}
.topo > input{
    margin-right: 10px;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 200px ;
}

button > i{
    color: black;
}

.botoes{
    display: flex;
    gap: 10px;


}

.esquerda > a{
    text-decoration: none;
    color: var(--text-color-secondary);
}

.esquerda > img{
    max-width: 224px;
    max-height: 224px;
}